.aplication {
    background-color: rgb(235, 235, 235);
    padding-top: 75px;
    padding-bottom: 75px;
    
    &__form {
        max-width: 600px;
        margin: 0px auto;
        padding: 30px;
        font-family: "Montserrat", sans-serif;
        background-color: #fff;
        border-radius: 30px;
    }

    &__body {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #33333355 url('/src/images/loading.gif') center / 50px no-repeat;
            opacity: 0;
            visibility: hidden;
        }
        &._sending {
            &:after {
                opacity: 1;
                visibility: visible;
            }
        }
        
    }

    &__title{
        font-size: 40px;
        font-weight: 500;
        margin: 0px 0px 30px 0px;
        text-align: center;
        font-family: "Montserrat", sans-serif;
    }

    &__item {
        margin: 0px 0px 20px 0px;
    }

    &__label {
        font-size: 18px;
        display: block;
        margin: 0px 0px 10px 0px;
    }

    &__input {
        height: 50px;
        padding: 0px 20px;
        border-radius: 5px;
        width: 100%;
        font-size: 18px;
    }
    textarea.form-input {
        min-height: 120px;
        resize: vertical;
        padding: 20px;
    }

    &__input_error {
        box-shadow: 0 0 15 red;
    }

    &__label {
        font-size: 30px;
    }

    &__options {
        padding: 10px 0px 0px 0px;
    }

    &__options-item {
        margin: 0px 0px 10px 0px;
    }

    &__options-label {
        font-size: 18px;
        line-height: 140%;
        position: relative;
        &:before {
            content: '';
            align-self: flex-start;
            flex: 0 0 24px;
            height: 24px;
            background-color: black;
            border-radius: 50%;
            margin: 0px 10px 0px 0px;
        }

        &:after {
            transition: all 0.3s ease 0s;
            content: "";
            position: absolute;
            top: 4px;
            left: 4px;
            width: 16px;
            height: 16px;

        }
    }

    &__form-button {
        border: none;
        outline: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
        background: rgba(44, 40, 40, 0.9);
        font-size: 30px;
        color: white;
        font-weight: 500;
        cursor: pointer;
        border-radius: 15px;
        font-family: "Montserrat", sans-serif;
    }

    &__form-message {
        display: none;
        position: fixed;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(44, 40, 40, 0.962);
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    &__form-message h1 {
        color: #fff;
        font-size: 40px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        margin-bottom: 20px;
    }
    
    
    &__form-message p {
        margin-bottom: 30px;
        color: #fff;
        font-size: 30px;
        font-family: "Montserrat", sans-serif;
    }
    
    &__form-message button {
        align-items: center;
        background-color: #ffffff;
        color: #040404;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 25px;
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
    }



}
@media (max-width: 480px) {
    .aplication {
        background-color: rgb(235, 235, 235);
        padding-top: 75px;
        padding-bottom: 75px;
        
        &__form {
            max-width: 400px;
            margin: 0px auto;
            padding: 30px;
            font-family: "Montserrat", sans-serif;
            background-color: #fff;
            border-radius: 30px;
        }
        &__title{
            font-size: 35px;
            font-weight: 500;
            margin: 0px 0px 30px 0px;
            text-align: center;
            font-family: "Montserrat", sans-serif;
        }
        &__item {
            margin: 0px 0px 20px 0px;
        }
        &__label {
            font-size: 18px;
            display: block;
            margin: 0px 0px 10px 0px;
        }
    
        &__input {
            height: 50px;
            padding: 0px 20px;
            border-radius: 5px;
            width: 100%;
            font-size: 18px;
        }


        textarea.form-input {
            min-height: 120px;
            resize: vertical;
            padding: 20px;
        }
    
        &__label {
            font-size: 28px;
        }
    
        &__options {
            padding: 10px 0px 0px 0px;
        }
    
        &__options-item {
            margin: 0px 0px 10px 0px;
        }
    
        &__options-label {
            font-size: 18px;
            line-height: 140%;
            position: relative;
            &:before {
                content: '';
                align-self: flex-start;
                flex: 0 0 24px;
                height: 24px;
                background-color: black;
                border-radius: 50%;
                margin: 0px 10px 0px 0px;
            }
    
            &:after {
                transition: all 0.3s ease 0s;
                content: "";
                position: absolute;
                top: 4px;
                left: 4px;
                width: 16px;
                height: 16px;
    
            }
        }
    
        &__form-button {
            border: none;
            outline: none;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 50px;
            background: rgba(44, 40, 40, 0.9);
            font-size: 20px;
            color: white;
            font-weight: 500;
            cursor: pointer;
            border-radius: 10px;
        }


    &__form-message {
        display: none;
        position: fixed;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(44, 40, 40, 0.962);
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    &__form-message h1 {
        color: #fff;
        font-size: 30px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        margin-bottom: 20px;
    }
    
    
    &__form-message p {
        margin-bottom: 30px;
        color: #fff;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
    }
    
    &__form-message button {
        align-items: center;
        background-color: #ffffff;
        color: #040404;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
    }
    
    }
}